<h1 class="title-h">Artilheiros</h1>
    <h3 class="title-h">Artilheiros: Top {{ topScorers }} Ligas da Europa</h3>
<section>
    <div id="title" class="example-label">Premier League</div>
    <div class="example-button-row">
      <button mat-raised-button color="primary">Ver Lista</button>
      <a mat-raised-button href="https://www.ogol.com.br/edition_stats.php?v=jt1&id_edicao=147227" target="_blank">Link Externo</a>
    </div>
  </section>
<section>
    <div id="title" class="example-label">La Liga</div>
    <div class="example-button-row">
      <button mat-raised-button color="primary">Ver Lista</button>
      <a mat-raised-button href="https://www.ogol.com.br/edition_stats.php?v=jt1&id_edicao=147433" target="_blank">Link Externo</a>
    </div>
  </section>
<section>
    <div id="title" class="example-label">Bundesliga</div>
    <div class="example-button-row">
      <button mat-raised-button color="primary">Ver Lista</button>
      <a mat-raised-button href="https://www.ogol.com.br/edition_stats.php?v=jt1&id_edicao=146951" target="_blank">Link Externo</a>
    </div>
  </section>
<section>
    <div id="title" class="example-label">Serie A</div>
    <div class="example-button-row">
      <button mat-raised-button color="primary">Ver Lista</button>
      <a mat-raised-button href="https://www.ogol.com.br/edition_stats.php?v=jt1&id_edicao=147479" target="_blank">Link Externo</a>
    </div>
  </section>
<section>
    <div id="title" class="example-label">Ligue 1</div>
    <div class="example-button-row">
      <button mat-raised-button color="primary">Ver Lista</button>
      <a mat-raised-button href="https://www.ogol.com.br/edition_stats.php?v=jt1&id_edicao=146062" target="_blank">Link Externo</a>
    </div>
  </section>
  <br>
  <br>
